@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Neucha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Neucha&family=Victor+Mono:wght@100&display=swap');
*{
    margin: 0;  /* Margem */
    padding: 0;  /* Preenchimento */
} 
body{
    height: 100%; /* altura */
    width: 100%; /* largura */
    display: flex;
    justify-content: center;
    background: linear-gradient(#64ddff,#9d9d9d); /*fundo do site*/
    background-repeat: no-repeat;
}
.imagem{
    display: flex;
    justify-content: center;
}
.imagem img{
    width: 170px; /*tamanho da foto do logo*/
    border-radius: 200px;
    margin-top: 150px;
}
/* Titulo */ 
.nome{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 600;
    color: #4982be;
    font-family: Arial, Helvetica, sans-serif;
}
.redes-sociais{
    margin-top: 10px;  /* margem superior  */ 
    display: flex;
    justify-content: center;  /*centralizar texto */ 
    align-items: center;
    /* background: red;  cor para da DIV */ 
}
.redes-sociais a{
    text-decoration: none;
}
.icone, #email{
    display: flex;
    height: 35px;
    width: 35px;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 5px 5px rgb(0, 0, 0);  /* caixa de sombra  */
    margin: 5px;
    overflow: hidden;  /* efeito Mascara */
}
.icone i, #email i{
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 22px;
    border-radius: 30px;
    background-color: #7ba6d4;
    color: #fff7f7;
}
.icone span a {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 25px;
    color:#308ff4;
    line-height: 35px;
    font-size: 15px; /*tamanho da fonte*/
    margin-left: 15;
}
.icone:hover{
    width: 125px;
    background: #ffffff;
}
.texto{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 50px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
    width: 700px;
    height: 250;
    padding: 35px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background: #4982be;
    overflow: hidden;
    box-shadow: 0 5px 3px rgba(22, 22, 22, 0.5);
}
.sobre-mim{
    position: absolute;
    top: 20px;
    display: flex;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    line-height: 35px;
}
.subtitulo{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    margin-top: 100px;
    margin-bottom: 30px;
}
.linguagem{
    display: flex;
    justify-content: center;
    margin: 5px;
}
.linguagem img{
    display: flex;
    border-radius: ;
    justify-content: center;
    align-items: center;
    width: 280px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #000000;
    margin: 5px;
}
